.dashboard-container {
    margin: 20px;
 
 
    border-radius: 1rem;
  
}

.dashboard-container h1 {
    color: #007bff;
}
.nav-link {
    color: #007bff;
}
.nav-link:hover {
    color: #0056b3;
}
.btn-logout {
    background-color: #dc3545;
    color: #ffffff;
}
.btn-logout:hover {
    background-color: #c82333;
}
.info-box {
    margin-top: 10px;
    padding: 10px;

    color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 170px;
    

}
.info-box h4 {
    margin: 0;
}

.row{
   
    padding: 2px;
    border-radius: 1rem;

}
.info-box:hover {
    color: #007bff;
    text-decoration: none;
    transform: scale(1.1);
    transition: all 0.1s;
}
.link:hover{
    text-decoration: none;
}

.box{
/*
color: #007bff;*/
}
/*
.box:hover{
  color: #007bff;
  text-decoration: none;
}
*/
.box-tex{
  
}
.box-icon{

text-align: end;


}

